
h3#comments {
    line-height: 30px;
}

.commentlist {
    margin-top: 10px;
    li {
        margin: 20px 0;
        padding-top: 10px;
        border-top: 1px solid $grayLighter;
    }
}

#commentform {
    > p {
        position: relative;
        min-height: 60px;
        input[type=text] {
            position: absolute;
            top: 22px;
            left: 8px;
            width: 70%;
        }
        label {
            position: absolute;
            top: 0;
            left: 0;
            padding: 4px;
            font-size: 100%;
            color: $white;
            background-color: $primary-color;
            @include border-radius(4px);
            @include opacity(60);
        }
    }
    textarea {
        width: 99%;
        padding: 0;
    }
    #submit {
        @include border-radius(4px);
    }
}

.nocomments {
    display: none;
}